:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 3rem;
  color: #f9eae4;
  background-color: #f9eae4;
  font-family: "Caveat", cursive;
  counter-reset: count;
}
a {
  text-decoration: none;
  position: relative;
}

/* ////////////////Header\\\\\\\\\\\\\\\\\ */

header {
  width: 100%;
  height: 6rem;
  position: fixed;
  z-index: 100;
  background: radial-gradient(
    circle,
    rgba(17, 13, 15, 1) 8%,
    rgba(89, 63, 54, 1) 70%,
    rgba(169, 130, 116, 1) 100%
  );
  border-bottom: 3px solid #795548;
}
.navigation {
  height: 100%;
}
.nav {
  display: inline-block;
  text-align: center;
  height: 100%;
  color: #e7b164;
  line-height: 6rem;
}
.list-left,
.list-right {
  height: 100%;
  width: 40%;
  list-style: none;
}

.list-left {
  float: left;
  padding-left: 6rem;
}
.list-right li:last-child a,
.list-left li:first-child a {
  font-size: 2.5rem;
}
.list-right {
  float: right;
  padding-right: 6rem;
}

.logo {
  width: 20%;
  padding: 0.5rem;
  height: 100%;
}
.logo a,
.logo img {
  width: 8rem;
  height: 8rem;
}
.logo img {
  margin: auto;
}

.nav-item {
  display: inline-block;
  width: 40%;
  height: 100%;
}
.nav-item a {
  width: 100%;
  height: 5rem;
  display: block;
  color: #be9585;
  font-size: 3rem;
  line-height: 5rem;
}
.nav-item a:hover {
  font-weight: bold;
  color: #ebebeb;
  font-size: 3.5rem;
  /* background-color: #e7b06459; */

  /* border-bottom: 3px solid #f9eae4; */
  /* color: #1d110c;
    background-color: #fbf5f3;
  
    /* border-radius: 9rem 9rem; */
  /* box-shadow: 0.2rem 0.2rem 0.4rem #fffcf5; */
}
.list-right li:last-child a:hover,
.list-left li:first-child a:hover {
  font-size: 3rem;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\main//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////7 */
main {
  padding: 8rem 0rem 5rem 0rem;
  position: relative;
  min-height: 100vh;
}
.browse {
  width: 75vw;

  margin: auto;
  text-align: center;
  margin-top: 3rem;
}
main input,
.show {
  display: none;
}
.show {
  text-align: center;
  padding: 1rem 5rem 10rem 5rem;
  text-align: justify;
}
.show h1 {
  text-align: center;
  margin: 2rem;
}
.show h2 {
  margin: 3rem 0rem 1rem 0;
  padding: 1rem 0;
  font-size: 2.5rem;
  border-bottom: #e7b164 1px solid;
}
.show p {
  margin: 1.5rem 0;
}
.show img {
  width: 100%;
  display: block;
}
.show > img {
  margin: 5rem 0;
}
.line {
  height: 5rem;
}
ul {
  height: 5rem;
  width: 100%;
}
.line ul li {
  display: inline-block;
  list-style: none;
  width: 49%;
  height: 5rem;
}
.line label {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  display: block;
  box-shadow: inset 4px 4px 2rem #1d110c;
  background-color: #6e4a3b;
  color: #b08968;
}
.line label:hover {
  font-weight: 700;
  background-color: #b08968;
  color: #4f3831;
  cursor: pointer;
}
.upper::after {
  content: "";
  width: 4.5rem;
  height: 4.5rem;
  transform: rotate(45deg);
  display: block;
  background-color: #1d110c;
  position: absolute;
  left: calc(50% - 2.25rem);
  box-shadow: inset 4px 4px 2rem #1d110c;
  top: 14rem;
}
#stry + label,
#gallery + label {
  border-radius: 20rem 0rem;
}
#typ + label,
#lnd + label {
  border-radius: 0 20rem;
}
.bottom {
  margin-top: 0.5rem;
}
/* /////facts Did you know\\\\\\ */

.stats {
  width: 90%;
  margin: auto;
  text-align: justify;
}
.stats h1 {
  margin: 4rem 0;
  border-bottom: #fd7e14 2px solid;
}
.stats p {
  color: #f9eae4;
}
.stats p:last-of-type {
  text-align: start;
  margin: 2rem 0 4rem 0;
  font-size: 2rem;
  width: 100%;
}
.stats p:last-of-type > a {
  padding-left: 3rem;

  color: rgb(240, 146, 4);
}
.stats p:last-of-type > a:hover {
  padding-left: 3rem;
  font-weight: bold;

  color: #e7b164;
}

.stats p > span {
  margin-right: 2rem;
  color: #e7b164;
}

/* /////show box\\\\\\ */
input:checked + label {
  font-weight: 700;
  background-color: #442d26;
  color: #b08968;
}
input:checked + label + .show {
  font-family: serif;
  font-size: 2.5rem;
  background-color: #472e1d;
  display: block;
  position: absolute;
  height: calc(100vh - 28rem);
  overflow: auto;
  top: 25rem;

  left: 0;
  right: 0;
  width: 74vw;
  margin: auto;
}
/* .show.images {
  text-align: center;
}
.show.images:nth-child(2) {
  margin: 1rem 0;
}
.show.images img {
  width: 30%;
  display: inline-block;
}
.show.images div:first-of-type img:hover {
  transform: scale(1.3);
  position: relative;
  top: 5rem;
}
.show.images div:nth-of-type(2) img:hover {
  transform: scale(1.3);
  position: relative;
}
.show.images div:last-of-type img:hover {
  transform: scale(1.3);
  position: relative;
  bottom: 5rem;
} */

/* ////////////////////////////////////////footer */

footer {
  background: linear-gradient(
    97deg,
    rgba(17, 13, 15, 1) 12%,
    rgba(93, 64, 55, 1) 75%,
    rgba(169, 130, 116, 1) 100%
  );
  padding: 2rem 5rem 2rem 5rem;
  width: 100%;

  min-height: 20rem;
}

.footer-col {
  display: inline-block;
  width: 32%;
  margin: auto;
  text-align: center;
  color: #ebebeb;
  font-size: 2.3rem;
  vertical-align: top;
}
.footer-col-cp {
  display: inline-block;
  width: 32%;
  margin: auto;
  text-align: center;
  color: #ebebeb;
  font-size: 2rem;
  padding-top: 5%;
}

.footer-col h2 {
  color: #ebebeb;
  border-bottom: solid 2px #fd7e14;
  margin: 1rem;
}
.footer-col a {
  display: block;
  width: 80%;
  color: #ebebeb;
  padding: 1rem;
  margin: auto;
  font-size: 2.3rem;
}
.footer-col a:hover {
  background-color: #ebebeb;
  border-radius: 4rem;
  color: rgba(17, 13, 15, 1);
  font-size: 2.8rem;
}
