:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 3rem;
  color: #f9eae4;
  background-color: #f9eae4;
  font-family: "Caveat", cursive;
}
a {
  text-decoration: none;
  position: relative;
}

/* ////////////////Header\\\\\\\\\\\\\\\\\ */

header {
  width: 100%;
  padding: 0 2rem;
  height: 6rem;
  position: fixed;
  z-index: 100;
  background: radial-gradient(
    circle,
    rgba(17, 13, 15, 1) 8%,
    rgba(89, 63, 54, 1) 70%,
    rgba(169, 130, 116, 1) 100%
  );
  border-bottom: 3px solid #795548;
}

.nav {
  height: 100%;
}
.nav__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  list-style: none;
  text-align: center;
}
.nav__list-item {
  height: 100%;
  width: 15%;
}
.nav__list-logo {
  padding: 0.5rem;
  height: 100%;
}

.nav__list-logo img {
  width: 8rem;
  height: 8rem;
}

.nav__list a {
  width: 100%;
  height: 100%;
  display: block;
  color: #be9585;
  font-size: 2.5rem;
  line-height: 6rem;
}
.nav__list a:hover {
  font-weight: bold;
  color: #ebebeb;
 
}
.nav__list--small a:hover{
  font-size: 3rem;
  
}
.nav__list--large a {
  font-size: 3.5rem;}
  .nav__list--large a :hover{
    font-size: 4rem;
  }
}
/* ////////////////////// Hero \\\\\\\\\\\\\\\\\\\\\\\\\\ */
main {
  padding-top: 6rem;
}
.hero {
  min-height: 100vh;

  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
}
.hero__content {
  display: table-cell;
  width: 50%;
  padding: 2rem;
  text-align: left;
}
.hero__content-h {
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 7rem;
  padding: 1rem 2rem;
  margin: 15% 60% 0em 2rem;
  color: #1d110c;
}
.hero__content-p {
  margin: 0 60% 0 2rem;

  font-family: "Patrick Hand", cursive;
  font-size: 2rem;
  text-align: justify;
  padding: 1rem 2rem;

  color: #fffcf5;
}
/* //////////////////////////////// second section (lorem)\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.tiles {
  background-color: #fbf5f3;
padding: 4rem 2rem;

}
.tile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

   padding: 2rem;
 
}


.tile__img {
  width: 65%;
  flex: 0 0 auto;
 

}
.tile__img--left{
  margin-left: 1rem;
}
.tile__img--right{
  margin-right: 1rem;
}

.tile img {
width: 100%;
height: 60rem;
object-fit:fill;
 object-position:  top;
  border-radius: 2rem;
}
.tile__p{
  color: #a98274;
  display: block;
  text-align: center;
  padding: 2rem;

  margin: 2rem 0;
}





/* ////////////////////section cards\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.cards {
  width: 100%;
  min-height: 70vh;
  background-color: #fffcf5;
  padding: 2rem 0.5rem;
  text-align: center;
 

  padding: 20rem 1rem 10rem 1rem;
}
.card {
  height: 80%;
  position: relative;
  display: inline-block;
  width: 30%;
  vertical-align: top;
  border-spacing: 3rem;
}
.card__img {
 
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 2rem;
}
.card__img img {
  height: 50rem;
  width: 100%;
  object-fit: cover;
 
}
.card__content{
  
  color: rgb(169, 130, 116);
}
.card__btn {
  height: 20%;
  width: 70%;
  margin: 2rem auto;
}
.card__btn  a {
  color: #ebebeb;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #388e3c;
  display: block;
  border-radius: 1rem;
}
.card__btn  a:hover {
  background-color: #8ecd90;
  font-weight: 700;
  color: #333333;
  box-shadow: inset 0rem 0rem 2rem #388e3c;
}



/* ////////////////////////////////Footer\\\\\\\\\\\\\\\\\\\\\\ßß */

.footer {
  background: radial-gradient(
    circle,
    rgba(17, 13, 15, 1) 8%,
    rgba(89, 63, 54, 1) 70%,
    rgb(136, 105, 94) 100%
  );
  padding: 3rem 0;


}
  

.footer__flex{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: #be9585;
  margin-bottom: 1rem ;

}
.footer__flex a{
  display: inline-block;
  width: 16%;
  color: #be9585;
}
.footer__flex a:hover{
 
border-bottom:solid 2px #fd7e14;
  font-size: 2.8rem;
}

.footer__social{
  width: 100%;
word-spacing: 15vw;
  text-align: center;
  padding: 2rem 0;

}
.footer__social  a {
  text-decoration: none;
 
  line-height: 3rem;
  font-size: 3rem;;
  color: #be9585;
}
.fa-instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );

  -webkit-background-clip: text;

  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fa-facebook-square:hover {
  /* background-color: #4267b2;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #4267b2;
}
.fa-twitter:hover {
  color: #1DA1F2;
}
.footer__license {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  color: #be9585;
  font-size: 2rem;

}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// mobile\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
