:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 3rem;
  color: #f9eae4;
  background-color: #f9eae4;
  font-family: "Caveat", cursive;
}
a {
  text-decoration: none;
  position: relative;
}

/* ////////////////Header\\\\\\\\\\\\\\\\\ */

header {
  width: 100%;
  height: 6rem;
  position: fixed;
  z-index: 100;
  background: radial-gradient(
    circle,
    rgba(17, 13, 15, 1) 8%,
    rgba(89, 63, 54, 1) 70%,
    rgba(169, 130, 116, 1) 100%
  );
  border-bottom: 3px solid #795548;
}

.navigation {
  height: 100%;
}

.nav {
  display: inline-block;
  text-align: center;
  height: 100%;
  color: #e7b164;
  line-height: 6rem;
}

.list-left,
.list-right {
  height: 100%;
  width: 40%;
  list-style: none;
}

.list-left {
  float: left;
  padding-left: 6rem;
}
.list-right li:last-child a,
.list-left li:first-child a {
  font-size: 2.5rem;
}
.list-right {
  float: right;
  padding-right: 6rem;
}

.logo {
  width: 20%;
  padding: 0.5rem;
  height: 100%;
}
.logo a,
.logo img {
  width: 8rem;
  height: 8rem;
}
.logo img {
  margin: auto;
}

.nav-item {
  display: inline-block;
  width: 40%;
  height: 100%;
}
.nav-item a {
  width: 100%;
  height: 5rem;
  display: block;
  color: #be9585;
  font-size: 3rem;
  line-height: 5rem;
}
.nav-item a:hover {
  font-weight: bold;
  color: #ebebeb;
  font-size: 3.5rem;
  /* background-color: #e7b06459; */

  /* border-bottom: 3px solid #f9eae4; */
  /* color: #1d110c;
    background-color: #fbf5f3;
  
    /* border-radius: 9rem 9rem; */
  /* box-shadow: 0.2rem 0.2rem 0.4rem #fffcf5; */
}
.list-right li:last-child a:hover,
.list-left li:first-child a:hover {
  font-size: 3rem;
}
/* ////////////////////// Hero \\\\\\\\\\\\\\\\\\\\\\\\\\ */
main {
  padding-top: 6rem;
}
.hero {
  min-height: 100vh;

  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
}
.hero-content {
  display: table-cell;
  width: 50%;
  padding: 2rem;
  text-align: left;
}
.hero-content-h {
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 7rem;
  padding: 1rem 2rem;
  margin: 15% 60% 0em 2rem;
  color: #1d110c;
}
.hero-content-p {
  margin: 0 60% 0 2rem;

  font-family: "Patrick Hand", cursive;
  font-size: 2rem;
  text-align: justify;
  padding: 1rem 2rem;

  color: #fffcf5;
}
/* //////////////////////////////// second section (lorem)\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.cards {
  background-color: #fbf5f3;
  padding: 3rem;
  position: relative;
}
.card {
  display: table-cell;
  width: 50%;
  vertical-align: top;
  padding: 0 2rem;
  position: relative;
}

.card-img {
  width: 90%;
  height: 30%;
  margin: auto;
  object-fit: cover;
  object-position: top center;
}
.card img {
  width: 100%;

  border-radius: 2rem;
}
.click {
  height: 30%;
  width: 70%;
}
.right {
  margin-top: 25rem;
}
.left {
  margin-bottom: 25rem;
}

.click p,
.click input {
  display: none;
}
.click label {
  color: #795548;
  cursor: pointer;
  font-weight: 700;
  background-color: #f9eae4;
  padding: 3rem;
  width: 40%;
  text-align: center;
  cursor: pointer;
  border-radius: 50rem 0;
}
.click label:hover {
  color: #f9eae4;
  background-color: #795548;
  box-shadow: 0.2rem 0.5rem 1rem #333333;
}
.click.left label {
  position: absolute;
  top: 1rem;
  left: 30%;
}
.click.right label {
  position: absolute;
  bottom: 1rem;
  left: 30%;
}

.click.left input:checked + label + p {
  color: #a98274;
  display: block;
  height: 2vh;
  position: absolute;
  top: 12rem;
  text-align: center;
  left: 10%;
  width: 80%;
}

.click.right input:checked + label + p {
  color: #a98274;
  display: block;
  height: 2vh;
  position: absolute;
  bottom: 25rem;
  text-align: center;
  left: 10%;
  width: 80%;
  padding: 1rem 0.5rem;
}
/* ////////////////////section cards\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
.items-cards {
  width: 100%;
  min-height: 70vh;
  background-color: #fffcf5;
  padding: 2rem 0.5rem;
  text-align: center;
  display: table;
  table-layout: fixed;
  padding: 20rem 1rem 10rem 1rem;
}
.item-card {
  height: 80%;
  position: relative;
  display: table-cell;
  width: 30%;
  vertical-align: top;
  border-spacing: 3rem;
}
.item.lnk {
  height: 40%;
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 2rem;
}
/* .item.lnk:hover::before {
  content: "";
  width: 10rem;
  height: 10rem;
  background-image: url(/img/item-lnk.svg);
  display: block;
  position: relative;
  top: -2rem;
  left: 5rem;
} */
.item.dis {
  height: 40%;
  color: rgb(169, 130, 116);
}
.item.btn {
  height: 20%;
  width: 70%;
  margin: 2rem auto;
}
.btn a {
  color: #ebebeb;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #388e3c;
  display: block;
  border-radius: 1rem;
}
.btn a:hover {
  background-color: #8ecd90;
  font-weight: 700;
  color: #333333;
  box-shadow: inset 0rem 0rem 2rem #388e3c;
}
/* .btn a:hover::before {
  content: "";
  width: 8rem;
  height: 8rem;
  display: block;
  background-image: url(/img/suspicious.svg);
  background-size: cover;
  position: absolute;
  bottom: 0rem;
  left: 0rem;
} */

.item img {
  height: 50rem;
  width: 100%;
  object-fit: cover;
}
/* ////////////////////////////////Footer\\\\\\\\\\\\\\\\\\\\\\ßß */

footer {
  background: linear-gradient(
    97deg,
    rgba(17, 13, 15, 1) 12%,
    rgba(93, 64, 55, 1) 75%,
    rgba(169, 130, 116, 1) 100%
  );
  padding: 2rem 5rem 2rem 5rem;
}

.footer-col {
  display: inline-block;
  width: 32%;
  margin: auto;
  text-align: center;
  color: #ebebeb;
  font-size: 2.3rem;
  vertical-align: top;
}
.footer-col-cp {
  display: inline-block;
  width: 32%;
  margin: auto;
  text-align: center;
  color: #ebebeb;
  font-size: 2rem;
  padding-top: 5%;
}

.footer-col h2 {
  color: #ebebeb;
  border-bottom: solid 2px #fd7e14;
  margin: 1rem;
}
.footer-col a {
  display: block;
  width: 80%;
  color: #ebebeb;
  padding: 1rem;
  margin: auto;
  font-size: 2.3rem;
}
.footer-col a:hover {
  background-color: #ebebeb;
  border-radius: 4rem;
  color: rgba(17, 13, 15, 1);
  font-size: 2.8rem;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// mobile\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
@media (max-width: 769px) {
  .list-left,
  .list-right {
    height: 100%;
    width: 40%;
    padding: 0;
    list-style: none;
  }
  .nav a {
    font-size: 2rem !important;
  }
  main {
    padding-top: 6rem;
  }
  /* hero */
  .hero {
    background-position: left;
    height: 50vh;
  }
  .hero-content {
    padding-top: 25%;
    text-align: center;
  }
  .hero-content-h {
    width: 80%;
    margin: 6rem auto;

    font-size: 4rem;
  }
  .hero-content-p {
    width: 80%;
    margin: auto;
  }
  /* cards */
  .cards {
    background-color: #fbf5f3;
    padding: 3rem;
    position: relative;
  }
  .card {
    display: block;
    width: 100%;
    vertical-align: top;
    padding: 0 2rem;
    position: relative;
  }

  .card-img {
    width: 90%;
    height: 30%;
    margin: auto;
    object-fit: cover;
    object-position: top center;
  }
  .card img {
    width: 100%;

    border-radius: 2rem;
  }
  .click {
    height: 30%;
    width: 70%;
  }
  .right {
    margin-top: 25rem;
  }
  .left {
    margin-bottom: 25rem;
  }

  .click p,
  .click input {
    display: none;
  }
  .click label {
    color: #795548;
    cursor: pointer;
    font-weight: 700;
    background-color: #f9eae4;
    padding: 3rem;
    width: 40%;
    text-align: center;
    cursor: pointer;
    border-radius: 50rem 0;
  }
  .click label:hover {
    color: #f9eae4;
    background-color: #795548;
    box-shadow: 0.2rem 0.5rem 1rem #333333;
  }
  .click.left label {
    position: absolute;
    top: 1rem;
    left: 30%;
  }
  .click.right label {
    position: absolute;
    bottom: 1rem;
    left: 30%;
  }

  .click.left input:checked + label + p {
    color: #a98274;
    display: block;
    height: 2vh;
    position: absolute;
    top: 12rem;
    text-align: center;
    left: 10%;
    width: 80%;
  }

  .click.right input:checked + label + p {
    color: #a98274;
    display: block;
    height: 2vh;
    position: absolute;
    bottom: 25rem;
    text-align: center;
    left: 10%;
    width: 80%;
    padding: 1rem 0.5rem;
  }
  /* third section */
  .items-cards {
    padding: 3rem 1rem;
  }
  .item-card {
    height: 80%;
    background-color: #f9eae4;

    padding: 2rem;
    display: block;
    width: 90%;
    margin: 2rem auto;
  }
}
